
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ceshi</title>
</head>
<body>
    <form action="ceshi" method="post">
        <input type="text" name="zhangming" />
        <input type="text" name="zhangid" />
        <input type="submit" value="提交"/>
    </form>
</body>
</html>
