
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layer.m/layer.m.js"></script>
    <link href="~/Areas/cheping/css/login.css" rel="stylesheet" />

    <script src="~/Areas/sqjy/js/admin/login.js"></script>

</head>
<body class="loginpage">
    <div class="loginbox">
        <div class="loginboxinner">

            <div class="logo">
                <h1 class="logo">教师<span>登陆</span></h1>
                <span class="slogan">输入用户名和手机号</span>
            </div><!--logo-->

            <br clear="all" /><br />

            <div class="nousername">
                <div class="loginmsg"></div>
            </div><!--nousername-->


            <div id="login">

                <div class="username">
                    <div class="usernameinner">
                        <input type="text" name="username" id="username" placeholder="用户名" />
                    </div>
                </div>

                <div class="password">
                    <div class="passwordinner">
                        <input type="password" name="password" id="password" placeholder="密码" />
                    </div>
                </div>

                <button type="button" style="color:white;">登陆</button>



            </div>

        </div><!--loginboxinner-->
    </div><!--loginbox-->


</body>
</html>
