
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Login</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layer.m/layer.m.js"></script>
    <link href="~/Areas/cheping/css/login.css" rel="stylesheet" />
    <script src="~/Areas/cheping/js/xuesheng/bangding.js"></script>
</head>
<body class="loginpage">
    <div class="loginbox">
        <div class="loginboxinner">

            <div class="logo">
                <h1 class="logo">学生<span>绑定</span></h1>
                <span class="slogan">输入学号和手机号</span>
            </div><!--logo-->

            <br clear="all" /><br />

            <div class="nousername">
                <div class="loginmsg"></div>
            </div><!--nousername-->


            <div id="login">

                <div class="username">
                    <div class="usernameinner">
                        <input type="text" name="username" id="username" placeholder="学号" />
                    </div>
                </div>

                <div class="password">
                    <div class="passwordinner">
                        <input type="password" name="password" id="password" placeholder="手机号" />
                    </div>
                </div>

                <button type="button" style="color:white;">绑定</button>



            </div>

        </div><!--loginboxinner-->
    </div><!--loginbox-->


</body>
</html>
